@font-face {
font-family: 'Lato';
src: url('Lato-Regular.ttf') format('truetype'); 
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'ArchitectsDaughter';
src: url('ArchitectsDaughter.ttf') format('truetype'); 
font-weight: normal;
font-style: normal;
}

.appLogo .done{
font-family: 'ArchitectsDaughter', cursive;
}

.appLogo .all{
font-family: 'ArchitectsDaughter', cursive;
}
#maincanvasImage{
-webkit-animation: color-change-rb 30s infinite;
-moz-animation: color-change-rb 30s infinite;
-o-animation: color-change-rb 30s infinite;
-ms-animation: color-change-rb 30s infinite;
animation: color-change-rb 30s infinite;
}


#theActivityIndicatorText{
-webkit-animation: color-change-rb 3s infinite;
-moz-animation: color-change-rb 3s infinite;
-o-animation: color-change-rb 3s infinite;
-ms-animation: color-change-rb 3s infinite;
animation: color-change-rb 3s infinite;
}


.theActivityIndicator span{
-webkit-animation: color-change-rb 3s infinite;
-moz-animation: color-change-rb 3s infinite;
-o-animation: color-change-rb 3s infinite;
-ms-animation: color-change-rb 3s infinite;
animation: color-change-rb 3s infinite;
}

@-webkit-keyframes color-change-rb {
0% { color: #ff3b30; }
50% { color: #34aadc; }
100% { color: #ff3b30; }
}
@-moz-keyframes color-change-rb {
0% { color: #ff3b30; }
50% { color: #34aadc; }
100% { color: #ff3b30; }
}
@-ms-keyframes color-change-rb {
0% { color: #ff3b30; }
50% { color: #34aadc; }
100% { color: #ff3b30; }
}
@-o-keyframes color-change-rb {
0% { color: #ff3b30; }
50% { color: #34aadc; }
100% { color: #ff3b30; }
}
@keyframes color-change-rb {
0% { color: #ff3b30; }
50% { color: #34aadc; }
100% { color: #ff3b30; }
}

