@import "globals.less";

body{
  color: black;
  background: white;
}

.onlySmallScreen, .onlyBigScreen{
  display: none;
}
@media (max-width : 992px){
  .onlySmallScreen{
    display: block;
  }
  .canvas{
    width: 100vw;
    min-height: 100vw;
    position: absolute;
  }
}
@media (min-width : 992px){
  .onlyBigScreen{
    display: block;
  }
  .canvas{
    width: ~"calc(100vw - 300px)";
    margin-left: 300px;
    min-height: 100vw;
    position: absolute;
  }
}

.sidenav{
     background-size:400px;
     background-position: 50%;
     background-color: @brandColor;
     li > a{
       color: @menutextColor;
     }
}

.iconBox{
   margin-bottom:10px;
   .background{
     height:140px;
     background-size:cover;
     background-image:linear-gradient(fade(@accentColor,50%), transparent);
     padding: 10px;
    }
   .icon{
     background-repeat:no-repeat;
     height:90px;
     background-size:contain;
     background-image:url(../images/icon.png);
     margin: 20px;
   }
 }


@offset: 187;
@duration: 1.4s;

.spinner {
  animation: rotator @duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: @offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash @duration ease-in-out infinite,
    colors (@duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: @offset; }
 50% {
   stroke-dashoffset: @offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: @offset;
   transform:rotate(450deg);
 }
}

.list li {
  background: url("https://bradfrost.github.com/this-is-responsive/patterns/images/icon_arrow_right.png") no-repeat 97% 50%;
  border-bottom: 1px solid #ccc;
  display: table;
  border-collapse: collapse;
  width: 100%;
}
.inner {
  display: table-row;
  overflow: hidden;
}
.li-img {
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  padding-right: 1em;
}
.li-img img {
  display: block;
  width: 100%;
  height: auto;
}
.li-text {
  display: table-cell;
  vertical-align: middle;
  width: 70%;
}
.li-head {
  margin: 0;
}
.li-sub {
  margin: 0;
}

@media all and (min-width: 45em) {
  .list li {
    float: left;
    width: 50%;
  }
}

@media all and (min-width: 75em) {
  .list li {
    width: 33.33333%;
  }
}

.menuMarkup .bold .material-icons
{
   color: inherit;
   margin-right: 10px;
}

.menuMarkup .bold.active
{
  background:@accentColor;
}
