@import "../../css/globals.less";

#deleteProjButton
{
  display: block;
  width: 120px;
  margin:auto;
}

#addProjButton
{
    position: fixed;
    right: 10px;
    bottom: 10px;
    i{
      background:@accentColor;
    }
}

#backProjButton
{
    position: fixed;
    bottom: 10px;
    i{
      background:@accentColor;
    }
}

#projTitle
{
  font-size:160%;
  font-weight: bold;
}
