@import "../../css/globals.less";

#deleteProjButton
{
  display: block;
  width: 130px;
  margin:auto;
}

#addProjButton
{
    position: fixed;
    right: 10px;
    bottom: 10px;
    i{
      background:@accentColor;
    }
}

#backProjButton
{
    position: fixed;
    top: ~'calc(100vh - 60px)';
    i{
      background:@accentColor;
    }
}

#projTitle
{
  font-size:160%;
  font-weight: bold;
}

#projSortTrigger
{
  position: absolute;
  right: 10px;
}
